{% extends 'layout.html' %}
{% block body %}
<div class="d-flex-justify-content-center my-3">
	<h1 class="text-center">History</h1>
</div>
{% if histories %}
	{% for video in histories %}
	<div class="d-flex justify-content-center">
  <div class="card mb-3" style="max-width: 75%;">
      <div class="row g-0">
        <div class="col-md-4">
			<a class="link-body-emphasis link-underline link-underline-opacity-0" href="{% url 'watch' %}?v={{video.video_id}}"><img src="{{video.thumbnail.url}}" class="img-fluid rounded-start" alt="{{video.title}}"></a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a class="link-body-emphasis link-underline link-underline-opacity-0" href="{% url 'watch' %}?v={{video.video_id}}"><h5 class="card-title">{{video.title}}</h5></a>
            <a class="link-body-emphasis link-underline link-underline-opacity-0" href="{% url 'watch' %}?v={{video.video_id}}"><p class="card-text">{{ video.description }}</p></a>
            <a class="link-body-emphasis link-underline link-underline-opacity-0" href="{% url 'watch' %}?v={{video.video_id}}"><p class="card-text"><small class="text-body-secondary">Views {{ video.views }}</small></p></a>
            <a class="link-body-emphasis link-underline link-underline-opacity-0" href="{% url 'watch' %}?v={{video.video_id}}"><p class="card-text"><small class="text-body-secondary">{{ video.date}}</small></p></a>
          </div>
        </div>
      </div>
  </div>
</div>

{% endfor %}
{% else %}
<div class="d-flex-justify-content-center my-3">
	<h1 class="text-center">History Clear! Watch something!</h1>
</div>
{% endif %}


{% endblock %}