{% load static %}
{% load django_vite %}
{% load  widget_tweaks %}


<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
    <link href="https://unpkg.com/@videojs/themes@1/dist/fantasy/index.css" rel="stylesheet">
    {% vite_hmr_client %}

    <title>{% block title %}VideoShare{% endblock title %}</title>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">VideoShare</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="col-md-3">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="{% url 'most_viewed' %}">Most Viewed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="padge" href="{% url 'random_video' %}">Random Video</a>
                        </li>
                        </ul>
                    </div>
                    <div class=" col-md-6 justify-content-lg-center">
                        <form class="d-flex w-100 ms-auto me-auto" method="get" action="{% url 'search_view' %}" role="search">
                            <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                    <div class="d-md-flex col-md-3 justify-content-end">
                        <ul class="navbar-nav mb-2 mb-lg-0 ">

                            {% if user.is_authenticated %}
                                <li class="nav-item me-auto">
                                    <a class="nav-link acive" aria-current="page" href="" data-bs-target="#uploadModal" data-bs-toggle="modal">Upload</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                                        Account
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'history_view' %}">History</a></li>
                                        <li><a class="dropdown-item" href="{% url 'my_videos' %}">Your Videos</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item me-auto">
                                    <a class="nav-link " aria-current="page" href="{% url 'logout' %}">Logout</a>
                                </li>
                            {% else %}
                                <li class="nav-item me-auto">
                                    <a class="nav-link " aria-current="page" href="{% url 'login' %}">Login</a>
                                </li>
                                <li class="nav-item me-auto">
                                    <a class="nav-link " aria-current="page" href="{% url 'register' %}">Register</a>
                                </li>
                            {% endif %}
                        
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid mt-2 ">
        {% block body %}
        {% endblock%}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="uploadModal" tabindex="0" aria-labelledby="uploadModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="uploadModalLabel">Upload</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body w-100 ">
                    <div class="alert alert-dismissible fade show d-none" id="upload-alert" role="alert">
                        <p class="" id="message"></p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    <div class="progress mb-3" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" id="progress-bar" style="width: 0%">0%</div>
                      </div>
                    <form  method="post" id="upload-form" enctype="multipart/form-data">


                        <div class="mb-3">
                            <input type="text" name="videoTitle" id="title" class="form-control" placeholder="Title">
                        </div>
                        <div class="mb-3">
                            <textarea name="videoDescription" class="form-control" id="" cols="30" rows="4" placeholder="Description"></textarea>

                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" name="videoPrivate" value="True" id="private">
                            <label for="public" class="form-check-label" >Private</label>

                        </div>
                        <div class="mb-3">
                            <input type="file" class="form-control" name="videoFile" id="upload-file" required>

                        </div>
                        <div class="mb-3">
                            <input type="file" class="form-control" name="videoThumbnail" id="upload-thumbnail">

                        </div>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    {% vite_asset 'js/main.js' %}
</body>
</html>
