{% extends 'layout.html' %} {% block body %}
<div class="container-fluid">
    <div class="row gx-3">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-9 my-3">
            <div class="mx-xl-5 mx-sm-1">
                <div class="col-sm-12 col-md-12 col-lg-10 mb-3">
                    <video id="my-video" class="video-js vjs-theme-fantasy vjs-16-9" controls preload="auto"
                        poster="{{ video.thumbnail.url }}" data-setup='{"playbackRates": [0.25, 0.5, 1, 1.5, 2]}'>
                        <source src="{{ video.video.url }}" type="video/mp4">
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a
                            web browser that
                            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-10 mb-3">
                    <h4 class="fw-semibold">{{ video.title}}</h4>
                    <!-- Owner Button and info -->
                    <div id="owner">
                        <p class="text d-inline me-2">uploaded by: {{video.user.username}}</p>
                        <button type="button" id="follow_btn" class="btn btn-outline-primary">Follow</button>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="button" id="like_btn" data-unique-id="{{ video.unique_id }}" class="btn btn btn-outline-secondary me-2">Like <span id="like_count">{{likes.liked_by.count}}</span></button>
                        <button type="button" id="dislike_btn" data-unique-id="{{ video.unique_id }}" class="btn btn btn-outline-secondary">Dislike <span id="dislike_count">{{ likes.disliked_by.count }} </span></button>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-6">
                                {{video.views}} Views
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                uploaded: {{video.date|timesince}} ago
                            </div>
                        </div>
                        <div class="accordion" id="description-accordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#description" aria-expanded="false" aria-controls="description">
                                        Dsescription
                                    </button>
                                </h2>
                                <div id="description" class="accordion-collapse collapse"
                                    data-bs-parent="#description-accordion">
                                    <div class="accordion-body">
                                        <p style="white-space: pre-line;">{{ video.description}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-3 my-3">
            <div class="row">
            {% for recommend_video in recommends %}
                <div class="col-sm-12 col-md-4 col-lg-10 mb-3">
                    <div class="card h-100">
                        <a href="{% url 'watch' %}?v={{recommend_video.video_id}}" class="link-body-emphasis link-underline link-underline-opacity-0"><img
                                src="{{recommend_video.thumbnail.url}}" class="card-img-top img-fluid" alt=""></a>
                        <div class="card-body">
                            <a href="{% url 'watch' %}?v={{recommend_video.video_id}}"
                                class="link-body-emphasis link-underline link-underline-opacity-0">
                                <h5 class="card-title">{{recommend_video.title}} </h5>
                            </a>
                            <hr>
                            <div>
                                <a href="" class="link-body-emphasis link-underline link-underline-opacity-0">
                                    <p>Uploaded by: {{recommend_video.user.username}}</p>
                                </a>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="text-start">{{recommend_video.views}} Views</p>
                                <p class="text-end">{{ recommend_video.date|timesince }} ago</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock body %}